<div class="container">
	<div class="row">
	    <div class="navbar navbar-default">
	    	<div ui-view="productnavi"></div>
	    </div>
	    <div class="col-md-1">
	        <div ui-view="protype"></div>
	    </div>
	    <div class="col-md-3">
	        <div ui-view="progrid"></div>
	    </div>
	    <div class="col-md-3">
	        <div ui-view="progrid1"></div>
	    </div>
	    <div class="col-md-3">
	        <div ui-view="progrid2"></div>
	    </div>
	    <div class="col-md-1">
	        <div ui-view="progrid3"></div>
	    </div>
	</div>
</div>